@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 24px auto 24px;
  grid-template-rows: 40px 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    ". menu ."
    ". main ."
    ". footer .";
  max-width: 1200px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  grid-area: menu;
}

nav {
  border-bottom: solid #000 1px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 40px 0px;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";

  grid-area: main;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  padding: 0 24px 0 0;
}

.guia-mapa-container {
  display: flex;
  justify-content: end;
}

.guia-mapa {
  width: 25%;
  background-color: aliceblue;
  position: fixed;
}

.titulo-principal {
  font-size: 3.2rem;
  padding: 4rem 0 4rem 0;
  font-weight: 400;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 16px;
  grid-template-areas: "footer-1 footer-2 footer-3";
  grid-area: footer;
  border-top: solid #000 1px;
}

.footerText {
  font-size: 0.8rem;
}

.footer-1 {
  grid-area: footer-1;
}

.footer-2 {
  grid-area: footer-2;
}

.footer-3 {
  grid-area: footer-3;
}
